body{
    background: linear-gradient(#FEFBF4, #F9E2AF);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: black;
    font-family: "Sansita", "consolas", sans-serif;
    font-size: 60px;
    position: relative;
    text-align: center;
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: #BC9ECD;
}

#box1{
    border: 5px solid;
    width: 320px;
    height: 285px;
    font-size: 18px;
    background-color: #FFDAE3;
    border-color: #FE4773;
    border-style:groove;
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#box2{
    border: 5px solid;
    width: 320px;
    height: 295px;
    font-size: 18px;
    background-color: #FFDAE3;
    border-color: #FE4773;
    border-style:groove;
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.quote{
        width: 300px;
        font-size: 16px;
        background-color: #DECEE6;
        border-style:groove;
        border-width: 5px;
        border-color: #793D9B;
        border-radius: 10px;
        padding: 5px;
        font-family: "Quicksand";
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.linkword{
        width: 81px;
        font-family: "Quicksand";
        font-weight:800;
        color: #2E6D92;
        background-color: #DECEE6;
        border-color: #793D9B;;
        border-style:groove;
        border-radius: 4px;
        text-align:center;
        position: relative;
        
        
}

#gal{
        color: black;
        font-family: "quicksand";
        font-weight:700; 
}

a:link{
        color: #FE4773; 
        text-decoration: none;
}

a:hover{
    color: white;
}

button:hover{
        background-color: white;
}

button{
    width: 80px;
    height: 50px;
    background-color: #d0f8fb;
    color: #2E6D92;
    border-color: #2E6D92;
    border-style:groove;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    font-family: "Quicksand";
    font-size: 16px;
    font-weight:700; 

}

button:active{
    background-color: white;
}

