body{
    background-image: url("backgroundimagecopy.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    height:100vw;
    
}

#box1{
    height: 100px;
    width: 1717px;
    position: relative;
    right: 10px;
    bottom: 10px;
    background-color: white;
    
}

#box2{
    position: relative;
    background-color: white;
    width: 1717px;
    height: 1000px;
    top: 500px;
    right: 10px;
    
}

#box3{
    width: 1717px;
    height: 300px;
    background-color:#363535;
    position: relative;
    bottom: 5000px;
    
    
}

h1{
    display: flex;
    color: black;
    font-family: "Sansita", "consolas", sans-serif;
    font-size: 60px;
    position: relative;
    text-align: center;
    bottom: 1440px;
    left: 50px;
    
}

.linkword{
    width: 81px;
    font-family: "Quicksand";
    font-weight:800;
    color: black;
    background-color: #C8E8E4;
    border-color: white;
    border-style:solid;
    border-radius: 2px;
    text-align:center;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration-line: none;
    
}

.linkword:hover{
    background-color: #FAE6BB;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 1em;
    position: relative;
    bottom: 1550px;
    left: 1200px;
}



#img1{
    height: 510px;
    position: relative;
    bottom: 1530px;
    left: 674px;
}

button:hover{
    background-color: #FAE6BB;
}

button{
width: 150px;
position: relative;
height: 90px;
background-color: #C8E8E4;
color: black;
border-color: white;
border-style:solid;
border-width: medium;
padding: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
text-align: center;
font-family: "Quicksand";
font-size: 25px;
font-weight:700; 
bottom: 1700px;
right: 900px;
}

button:active{
background-color: white;
}

#img2{
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 1500px;
    right: 650px;
}

#img3{
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 1930px;
    right: 60px;
}

#img4{
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 2180px;
    left: 30px;
}

#img5{
    position: relative;
    bottom: 2550px;
    left: 620px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img6{
    position: relative;
    bottom: 2700px;
    right: 500px;;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#box4{
    position: relative;
    bottom: 2350px;
    left: 400px;
    border: 5px solid;
    width: 320px;
    height: 285px;
    font-size: 18px;
    background-color: #FFDAE3;
    border-color: white;
    border-style:solid;
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img7{
    position: relative;
    left: 150px;
    bottom: 2690px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img8{
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img9{
    position: relative;
    right: 250px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img10{
    position: relative;
    right: 0px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img11{
    position: relative;
    left: 250px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



#box5{
    position: relative;
    left:1300px;
    bottom:3030px;
    border: 5px solid;
    width: 320px;
    height: 295px;
    font-size: 18px;
    background-color: #FFDAE3;
    border-color: white;
    border-style:solid;
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.quote{
    width: 300px;
    font-size: 16px;
    border-style:solid;
    border-width: 5px;
    border-color: white;
    border-radius: 2px;
    padding: 5px;
    font-family: "Quicksand";
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#p7{
    color:black;
    position:relative;
    font-size: 40px;
    font-family: "signika";
    right: 500px;
    bottom: 4900px;
    border-style:dotted;
    border-color: white;
    background-color:#C8E8E4;
    width: 550px;
    left: 400px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#p3{
    position: relative;
    bottom: 1400px;
    left: 40px;
    background-color: #DECEE6;
}

#p4{
    position: relative;
    background-color: #FAE6BB;
    bottom: 2040px;
    left: 450px;
}

#p5{
    position: relative;
    background-color: #C0D3DE;
    left: 1320px;
    bottom: 2650px;
}

#p6{
    position:relative;
    background-color: #FFC8D5;
    left: 890px;
    bottom: 3700px;
}

html,body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}