/* This is the layout for all pages*/
body{
    background-image: url("backgroundimage.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    height:100vw;
    
}
/* End of layout*/

/* index layout */
#box1{
    height: 100px;
    width: 1717px;
    position: relative;
    right: 10px;
    bottom: 10px;
    background-color: white;
    
}

#box2{
    position: relative;
    background-color: white;
    width: 1720px;
    height: 1000px;
    top: 500px;
    right: 10px;
    
}

#box3{
    width: 1717px;
    height: 300px;
    background-color:#363535;
    position: relative;
    top: 1000px;
    right: 10px;
    
    
}


h1{
    display: flex;
    color: black;
    font-family: "Sansita", "consolas", sans-serif;
    font-size: 60px;
    position: relative;
    text-align: center;
    bottom: 1440px;
    left: 50px;
    
}

.linkword{
    width: 81px;
    font-family: "Quicksand";
    font-weight:800;
    color: black;
    background-color: #C8E8E4;
    border-color: white;
    border-style:solid;
    border-radius: 2px;
    text-align:center;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration-line: none;
    
}

.linkword:hover{
    background-color: #FAE6BB;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    gap: 1em;
    position: relative;
    bottom: 1550px;
    left: 1200px;
}



#img1{
    height: 510px;
    position: relative;
    bottom: 1530px;
    left: 674px;
}

button:hover{
    background-color: #FAE6BB;
}

button{
width: 150px;
position: relative;
height: 90px;
background-color: #C8E8E4;
color: black;
border-color: white;
border-style:solid;
border-width: medium;
padding: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
text-align: center;
font-family: "Quicksand";
font-size: 25px;
font-weight:700; 
bottom: 1700px;
right: 900px;
}

button:active{
background-color: white;
}

#img2{
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 1500px;
    right: 650px;
}

#img3{
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 1930px;
    right: 60px;
}

#img4{
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    bottom: 2180px;
    left: 30px;
}

#img5{
    position: relative;
    bottom: 2550px;
    left: 620px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img6{
    position: relative;
    bottom: 2700px;
    right: 500px;;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#box4{
    position: relative;
    bottom: 2350px;
    left: 400px;
    border: 5px solid;
    width: 320px;
    height: 285px;
    font-size: 18px;
    background-color: #FFDAE3;
    border-color: white;
    border-style:solid;
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img7{
    position: relative;
    left: 150px;
    bottom: 2690px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#box5{
    position: relative;
    left:1300px;
    bottom:3030px;
    border: 5px solid;
    width: 320px;
    height: 295px;
    font-size: 18px;
    background-color: #FFDAE3;
    border-color: white;
    border-style:solid;
    padding: 8px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.quote{
    width: 300px;
    font-size: 16px;
    border-style:solid;
    border-width: 5px;
    border-color: white;
    border-radius: 2px;
    padding: 5px;
    font-family: "Quicksand";
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#p7{
    color:black;
    position:relative;
    font-size: 40px;
    font-family: "signika";
    right: 500px;
    bottom: 4900px;
    border-style:dotted;
    border-color: white;
    background-color:#C8E8E4;
    width: 550px;
    left: 400px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#p3{
    position: relative;
    bottom: 1400px;
    left: 40px;
    background-color: #DECEE6;
}

#p4{
    position: relative;
    background-color: #FAE6BB;
    bottom: 2040px;
    left: 450px;
}

#p5{
    position: relative;
    background-color: #C0D3DE;
    left: 1320px;
    bottom: 2650px;
}

#p6{
    position:relative;
    background-color: #FFC8D5;
    left: 890px;
    bottom: 3700px;
}
/* End of index layout */

/* Start of service page layout*/
#button2:hover{
    background-color: #FAE6BB;
}

#button2{
width: 150px;
position: relative;
height: 90px;
background-color: #C8E8E4;
color: black;
border-color: white;
border-style:solid;
border-width: medium;
padding: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
text-align: center;
font-family: "Quicksand";
font-size: 25px;
font-weight:700; 
bottom: 1400px;
left: 550px;
}

#button2:active{
background-color: white;
}

html,body{
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#box6{
    position: relative;
    background-color: white;
    width: 1717px;
    height: 1000px;
    right: 10px;
    top: 300px;
}


#p8{
    position:relative;
    width: 600px;
    height: 130px;
    background-color: #C8E8E4;
    border-color: white;
    border-style: solid;
    font-family: "quicksand";
    font-size: 20px;
    padding: 10px;
    bottom: 1550px;
    left: 50px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#p9{
    position:relative;
    width: 350px;
    height: 50px;
    background-color: white;
    border-color: white;
    border-style: solid;
    font-family: "quicksand";
    font-size: 20px;
    padding: 10px;
    bottom:  1450px;
    left: 170px;
    text-align: left;
}

#img9{
    position:relative;
    width: 500px;
    left: 470px;
    bottom: 2850px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#head1{
    position: relative;
    width: 100px;
    height: 30px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: "quicksand";
    font-weight: 800;
    bottom: 1400px;
    left: 175px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.list1{
    position: relative;
    background-color: white;
    width: 300px;
    height: 200px;
    font-family: "quicksand";
    font-size: 25px;
    bottom: 1400px;
    left: 160px;
    text-align:left;
}

#head2{
    position: relative;
    width: 170px;
    height: 30px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: "quicksand";
    font-weight: 800;
    bottom: 1450px;
    left: 175px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.list2{
    position: relative;
    background-color: white;
    width: 500px;
    height: 300px;
    font-family: "quicksand";
    font-size: 25px;
    bottom: 1450px;
    left: 160px;
    text-align:left;
}

#head3{
    position: relative;
    width: 170px;
    height: 30px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: "quicksand";
    font-weight: 800;
    bottom: 2100px;
    left: 650px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.list3{
    position: relative;
    background-color: white;
    width: 500px;
    height: 300px;
    font-family: "quicksand";
    font-size: 25px;
    bottom: 2100px;
    left: 640px;
    text-align:left;
}

#head4{
    position: relative;
    width: 170px;
    height: 30px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: "quicksand";
    font-weight: 800;
    bottom: 2270px;
    left: 650px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.list4{
    position: relative;
    background-color: white;
    width: 500px;
    height: 300px;
    font-family: "quicksand";
    font-size: 25px;
    bottom: 2250px;
    left: 640px;
    text-align:left;
}

/*End of service page layout*/

/* Start of Contact page layout */

#box10{
    position: relative;
    background-color: white;
    width: 1717px;
    height: 1000px;
    top: 300px;

    
}

#contactBox {
    position: relative;
    width: 400px; 
    background-color: #FFDAE3;
    border: 20px solid;
    border-color: white;
    padding: 90px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 20 6px 20px 0 rgba(0,0,0,0.19);
    margin: 0 auto; 
    text-align: center; 
    top: -1300px;
    z-index: 10; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#contactBox form {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

#contactBox label {
    font-family: "Quicksand", sans-serif;
    font-size: 20px ; 
}

/* Styling for submit button */

input[type="submit"] {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    background-color: #9ce0ff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FAE6BB;
}

#head5{
    position: relative;
    font-family: "quicksand";
    font-size: 50px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    width: 270px;
    bottom: 1470px;;
    left: 670px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* End of contact page layout*/

/*this is the start of about page*/

#box11{
    position: relative;
    background-color: white;
    width: 1717px;
    height: 1000px;
    top: 300px;
    right: 10px;
}

#button3:hover{
    background-color: #FAE6BB;
}

#button3{
width: 150px;
position: relative;
height: 90px;
background-color: #C8E8E4;
color: black;
border-color: white;
border-style:solid;
border-width: medium;
padding: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
text-align: center;
font-family: "Quicksand";
font-size: 25px;
font-weight:700; 
bottom: 1400px;
left: 550px;

}

#button3:active{
background-color: white;
}

#head6{
    position: relative;
    font-family: "quicksand";
    font-size: 50px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    width: 220px;
    bottom: 1550px;;
    left: 100px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#head7{
    position: relative;
    width: 190px;
    height: 30px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: "quicksand";
    font-weight: 800;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    left: 800px;
    bottom: 1400px;
}

#p13{
    position: relative;
    bottom: 1300px;
    left: 200px;
    border: 5px solid;
    width: 600px;
    height: 320px;
    font-size: 22px;
    background-color: #FFDAE3;
    border-color: white;
    border-style:solid;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img8{
    position: relative;
    bottom: 1750px;
    left: 300px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#img12{
    position: relative;
    left: 200px;
    bottom: 3200px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img10{
    position: relative;
    left: 220px;
    bottom: 3200px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#img11{
    position: relative;
    bottom: 3200px;
    left: 250px;
    border-style: solid;
    border-color: white;
    border-width: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#head8{
    position: relative;
    width: 250px;
    height: 30px;
    background-color: #c8e8e4;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: "quicksand";
    font-weight: 800;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    left: 800px;
    bottom: 2700px;
}



#box12{
    position: relative;
    background-color: white;
    width: 1717px;
    height: 1000px;
    right: 10px;
    bottom: 1800px;
}

#p14{
    position: relative;
    bottom: 2650px;
    left: 100px;
    border: 5px solid;
    width: 370px;
    height: 580px;
    font-size: 22px;
    text-align: left;
    background-color: #FFDAE3;
    border-color: white;
    border-style:solid;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}